<%- include('parts/header'); -%>
    <ul>
        <li><strong>Title:</strong> <%= game.game_name %></li>
        <li><strong>Year:</strong> <%= game.release_year %></li>
        <li><strong>Publisher:</strong> <%= game.publisher %></li>
        <li><strong>Developer:</strong> <%= game.developer %></li>
        <li><strong>Genres:</strong> <%= game.genres %></li>
    </ul>
<%- include('parts/footer'); -%>